body {
    margin: 0;
    padding: 0;
}
.options {
  span {
    color: #ccc;
    text-decoration: underline;
    font-size: 12px;
    margin: 10px 0px;
    cursor: pointer;
    margin-right: 15px;
  }
}
// .json-export {
//   color: #ccc;
//   text-decoration: underline;
//   font-size: 12px;
//   margin: 10px 0px;
//   cursor: pointer;
// }
// .set-random {
//   color: #ccc;
//   text-decoration: underline;
//   font-size: 12px;
//   margin: 10px 0px;
//   cursor: pointer;
//   margin-right: 20px;
// }

.students, .mentors {
    border: 1px solid #ddd;
    position: relative;
    margin-bottom: 20px;
}
.mentors {
  display: none;
}
.students__title, .mentors__title {
  text-align: center;
  padding: 10px;
  display: inline-block;
  margin-right: -4px;
  width: 50%;
  font-size: 18px;
  cursor: pointer;
  background: #ddd;
  transition: background 0.2s ease-in-out;
  &:hover {
    background-color: #FDF3CD;
  }
}
.students__title_active, .mentors__title_active {
  background: #ffdb4c;
  &:hover {
    background: #ffdb4c;
  }
}
.students__name, .mentors__name {
  position: relative;
  padding: 2px 10px 2px 20px;
  transition: background-color 0.2s ease-in-out;
  span {
    font-size: 12px;
  }
  &:last-child {
    margin-bottom: 5px;
  }
  &:hover {
    background-color: rgba(200,200,200,0.3);
    .students__delete-button, .mentors__delete-button,
    .students__add-to-group-button, 
    .students__add-task-button, 
    .students__expel-button, 
    .students__show-wishlist-button, .mentors__show-wishlist-button {
      opacity: 0.7;
    }
  }
}
.students__list, .mentors__list {
  padding: 10px;
  margin-top: 15px;
}

.students__button, .mentors__button {
  display: inline-block;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  float: right;
  margin-right: 10px;
}
.students__delete-button{
}
.students__add-to-group-button {
}
.students__add-task-button {
}
.students__expel-button {
}

.students__group-list{
  position: absolute;
  margin-top: 10px;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 140px;
  right: 0px;
  text-align: center;
  padding: 10px;
  
  ul {
    list-style: none;
    padding: 0;
  }
}
.students__group-menu-button {
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  &:hover {
    background-color: #ffdb4c;
    color: #666;
  }
}
.students__new-group {
  display: block;
  margin-top: 15px;
  cursor: pointer;
}
.students__new-group-input {
  input[type="text"] {
    font-size: 10px;
    color: #666;
  }
}
.students__no-items, .mentors__no-items {
  text-align: center;
  padding: 20px;
  font-size: 12px;
  color: #bbb;
}
.students__input-error,.mentors__input-error {
  text-align: center;
  color: #a94442;
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  left: 30%;
}
input[type="text"].students__input, input[type="text"].mentors__input{
    font-size: 12px;
}
.input-group {
  padding: 0 10px;
  margin-top: 10px;
}









.tasks {
  border: 1px solid #ddd;
}
.tasks__title {
  text-align: center;
  background-color: #ffdb4c;
  padding: 10px;
  font-size: 18px;
}
.tasks__list {
  
}
.tasks__task-item {
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #ddd;
  &:last-child {
    border-bottom: none;
  }
  &:hover {
    .tasks__task-delete-button {
      opacity: 0.7;
    }
  }
}
.tasks__task-item-name {
  font-weight: bold;
  margin: 0 0 10px 0;
  color: #666;
}
.tasks__task-item-details {
  padding: 0 10px;
}
.tasks__task-item-author {
  display: inline-block;
  margin-top: 20px;
  font-weight: bold;
  font-size: 12px;
  color: #aaa;
  span{
    font-weight: normal;
    color: #000;
    margin-left: 10px;
  }
}
.tasks__task-item-rating {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 0;
  i {
    font-size: 14px;
    margin-right: 2px;
    cursor: pointer;
  }
}
.tasks__task-delete-button {
  position: absolute;
  top: 2px;
  right: 2px;
  opacity: 0;
  cursor: pointer;
  font-size: 16px;
}
.tasks__no-items {
  text-align: center;
  padding: 20px;
  color: #bbb;
}







.groups__item {
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.groups__item-name {
  margin: 0;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  color: #565656;
  border-bottom: 1px solid #ccc;
  background-color: #ddd;
  span {
    &:hover {
      border-bottom: 2px dotted #bbb;
    }
  }
  &:hover {
    .students__expel-all-button,
    .students__delete-group-button,
    .students__add-task-button {
      opacity: 1;
    }
  }
}


.wishlist {
  position: absolute;
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  z-index: 200;
  margin-bottom: 40px;
  background-color: #fff;
  display: none;
}
.wishlist__title {
  padding: 15px 20px;
  text-align: left;
  font-size: 14px;
  background: #ffdb4c;
  border-bottom: 1px solid #ccc;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.wishlist__list {
  padding: 20px 50px;
}
.wishlist__element {
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: #FDF8C8;
  }
}
.wishlist__element-name {
  margin-right: 20px;
  display: inline-block;
}
.wishlist__priority {
  display: inline-block;
  float: right;
  cursor: pointer;
  .fa-star {
    color: #ffdb4c;
  }
  i {
    cursor: pointer;
  }
}


.distribution {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 100;
  display: none;
}
.distribution__title {
 padding: 15px 30px;
 text-align: center;
 background-color: #ffdb4c;
 font-size: 16px;
}
.distribution__list {
  padding: 20px;
  padding-right: 10px;
  max-width: 870px;
  font-size: 0px;
}
.distribution__item {
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #ddd;
  vertical-align: top;
  width: 200px;
  font-size: 12px;
  margin-bottom: 15px;
}
.distribution__item-title{
  padding: 15px 30px;
  text-align: center;
  margin-bottom: 10px;
  background: #ccc;
  font-weight: bold;
  color: #666;
}
.distribution__item-list {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
.distribution__item-list-element {
  padding: 0px 5px;
  margin: 0 10px 10px;
}
.distribution__button {
  background: #ffdb4c;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  cursor: pointer;
}